<footer>
  <nav id="navbar-footer" class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer">
      <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
          <li class="nav-item">
              <a target="_blank" href="https://themesberg.com/" class="nav-link" role="button">
                  <span class="nav-link-inner-text">
                      &copy; Themesberg
                  </span>
              </a>
          </li>
          <li class="nav-item">
              <a target="_blank" href="https://appseed.us" class="nav-link" role="button">
                  <span class="nav-link-inner-text">
                      📕 Coded by AppSeed
                  </span>
              </a>
          </li>


      </ul>
      <div class="time text-center">
          <span class="time text-uppercase">1:47 PM</span>
      </div>
  </nav>
</footer>

